/* PAGE ANIMATIONS */

.transition-fade {
  transition: all .5s ease-out;
  opacity: 1;
}
.is-animating .transition-fade {
  opacity: 0;
}

.is-leaving .transition-fade {
  opacity: 0;
}

h2 {
  padding: 3em 0;
  text-align: center;
  color: #fff;
}

.page-home h2 {
  background: red;
}
.page-about h2 {
  background: green;
}

header {
  display: flex;
  justify-content: space-between;
}

nav ul {
  display: flex;
  list-style: none;
}

nav a {
  display: block;
  padding: 1em;
}