/* PAGE ANIMATIONS */

.transition-fade {
  transition: all .5s ease-out;
  opacity: 1;
  animation: .5s scalein ease forwards;
}
.is-animating .transition-fade {
  opacity: 0;
}
.is-leaving .transition-fade {
  opacity: 0;
  animation: .5s scaleout ease forwards;
}

@keyframes scaleout {
  0%   { 
    transform: scale(1); 
  }
  100% { 
    transform: scale(.95); 
  }
}

@keyframes scalein {
  0%   { 
    transform: scale(.95); 
  }
  100% { 
    transform: scale(1); 
  }
}

/* DEMO STYLES */
h2 {
  padding: 3em 0;
  text-align: center;
  color: #fff;
}
.page-home h2 { background: red; }
.page-about h2 { background: green; }

header {
  display: flex;
  justify-content: space-between;
}

a { color: #000; text-decoration: none; }
.page-home a { color: red }
.page-about a { color: green }

nav ul {
  display: flex;
  list-style: none;
  position: relative;
  padding: 0;
}

nav li {
  margin: 0
}

nav a {
  display: block;
  padding: 1em;
}

nav ul::after {
  display: block;
  content: "";
  background: red;
  height: 2px;
  width: 50%;
  position: absolute;
  bottom: 0;
  transition: .4s ease-out all;
}

.page-home nav ul::after {
  transform: translate(0,0);
  background: red;
}

.page-about nav ul::after {
  transform: translate(100%,0);
  background: green;
}